<div
    class="modal fade"
    id="contributorsRemoveModal"
    tabindex="-1"
    role="dialog"
    data-focus-input="#"
>
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="modal-title">Remove Contributors</h4>
                <button
                    class="btn-close"
                    type="button"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body pt-0">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    <%
                    project.NonPotentialContributor.forEach(function(NonPotContributor){
                    %>
                    <div class="col pb-2 pb-sm-3">
                        <div
                            class="card-hover position-relative bg-secondary rounded-1 p-3 mb-2"
                        >
                            <div class="">
                                <a
                                    class=""
                                    href="/profile/<%= NonPotContributor.id %>"
                                    id=""
                                    ><img
                                        class="d-block mx-auto"
                                        src="/assets/img/pics/<%= NonPotContributor.pic %>"
                                        width="226"
                                        alt="Product"
                                /></a>
                            </div>
                        </div>
                        <div
                            class="d-flex mb-1"
                            style="justify-content: center"
                        >
                            <h3 class="h6 mb-0">
                                <a href="/profile/<%= NonPotContributor.id %>"
                                    ><%= NonPotContributor.username %></a
                                >
                            </h3>
                        </div>
                        <div class="text-center mb-1">
                            <form
                                class="ms-auto"
                                action="/projects/<%= project.id %>/removeContributor/<%= NonPotContributor.id %>"
                                method="POST"
                            >
                                <button
                                    class="btn btn-sm btn-secondary text-danger"
                                    type="submit"
                                >
                                    <i class="ai-user-x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
